:root {
  --darkgreen: #075404;
  --orange: #f38f05fc;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.header {
  background-color: var(--darkgreen);
  display: flex;
  flex-direction: column;
  justify-items: center;
  color: white;
}
.header__text {
  font-size: 1em;
}

.nav__container {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0.5em;
}
.nav__link  {
  display: flex;
  color: white;
  text-decoration: none;
}
.nav__link--active {
  color: var(--orange);
}
.table {
  width: 100%;
  margin-top: 1rem;
}

th, td {
  text-align: center;
}

 