.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.header {
  background-color: #162e5e;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  color: white;
 
 
}
.header__text {
  display: flex;
  
}

.nav__container {
  display: flex;
  list-style: none;
  flex-direction: row  ;  
  justify-content: space-around;
  align-items: center;
 
}
.nav__link>a {
  display: flex;
  color: white;
}